
/* Tablet and moble */
@media (max-width:1023px){
    .btn{
        padding: 16px 16px;
    }

    .contact-form .form-control{
        padding: 15px;
    }
    
    .contact-info{
        line-height: 1.9;
    } 


    #footer .social-list{
        font-size: 48px;
    }

    #footer .social-list a{
        margin: 0 8px;
    }

    #footer .copyright {
        color: rgba(0, 0, 0, 0.6);
        margin-top: 15px;
        padding: 12px 0;
        display: inline-block;
        font-size: 24px;
    }
}


/* moblie */
@media (max-width:739px){

    .s-full-width,
    .s-col-full{
        width: 100%;
    }

    .s-mt-8{
        margin-top: 8px;
    }
  
    #header{
        overflow: hidden;
    }

    #header .search-box {
        display: none;
    }

    #header .moblie-menu-btn{
        display: block;
    }

    #nav{
        display: block;
    }
    #nav > li {
        display: block;
    }

    #nav > li{
        padding: 1px 24px;
    }

    #nav > li:first-child{
        display: inline-block;
    }

    #nav .subnav{
        position: initial;
        background-color: #000;
    }

    #nav .subnav a{
        color: #ccc;
        padding: 5px 41px;
    }

    .member-list .member-mobile{
        margin-top: 48px;
        width: 100%;
        
    }

    .contact-form{
        margin-top: 32px;
    }
  


}

@media (max-width:420px){
#footer .social-list{
    font-size: 36px;
}

#footer .social-list a{
    margin: 0 6px;
}
}